<nav class="navbar navbar-expand-lg navbar-dark bg-principal shadow-sm py-3">
  <div class="container">
    <!-- Logotipo -->
    <a class="navbar-brand" href="?page=index">
      <img
        src="https://majb.online/shared/eduardo_adv/logo.png"
        alt="Becker & Ribeiro Advocacia"
        height="45"
      />
    </a>

    <!-- Botão menu responsivo para celular -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menuNavegacao"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links de Navegação -->
    <div
      class="collapse navbar-collapse justify-content-end"
      id="menuNavegacao"
    >
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link active" href="?page=index">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="?page=quemsomos">Quem Somos</a>
        </li>
        <li class="nav-item">
          <!-- O botão da Área Exclusiva destacado com o ícone de cadeado -->
          <a
            class="btn btn-outline-light ms-lg-3 mt-2 mt-lg-0 px-4"
            href="?page=admin"
          >
            <i class="fas fa-lock me-2"></i>Área Exclusiva
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
